.form-card{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-input-header{
    color: white;
    background-color: rgb(31, 54, 95);
    margin: 20px auto;
    width: 100%;
}

label.form-label{
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.form-select{
    width: 33%;
    height: 2rem;
    border: 2px solid rgb(31, 54, 95);
    border-radius: 4px;
}

.form-input::placeholder, .form-select::placeholder, .form-textarea::placeholder{
    text-align: center;
    color: rgb(31, 54, 95);
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.form-input{
    width: 73%;
    height: 2rem;
    border: 2px solid rgb(31, 54, 95);
    border-radius: 4px;
}

.form-textarea{
    width: 73%;
    height: 80px;
    border: 2px solid rgb(31, 54, 95);
    border-radius: 4px;
}

.form-button{
    width: 47%;
    height: 2rem;
    margin: 0 auto 20px auto;
    background-color: rgb(31, 54, 95);
    color: white;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid transparent;
    border-radius: 4px;
}

.submit-message{
    margin: 100px auto;
}