.hamburger-container{
    position: fixed;
    right: 8vw;
    top: 3.0vh;
    width: 2rem;
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    z-index: 100;
}

.hamburger-icon{
    width: 2.5rem;
    height: 0.22rem;
    padding: 2px 0 2px 0;
    margin: 5px 0 2px 0; 
    background: rgb(31, 54, 95);
}

.hamburger-icon.open{
    /* background: white; */
}

@media (min-width: 767px) {
    .hamburger-container {
            display: none;
    }
}