.navbar{
    display: none;
}

#navbar-link{
    color: rgb(2, 15, 79);
}

@media (min-width: 767px) {
    .navbar{
        display: inline-block;
        /* justify-content: space-evenly; */
        width: 100vw;
        /* background-color: rgb(2, 15, 79); */
    }

    ul.navbar-link-container{
        display: flex;
        justify-content: space-evenly;
    }
}